@using IHffA7.Models
@model IEnumerable<RestaurantOverviewModel>

@{
    ViewBag.Title = "Restaurants";
}
<p>
    <h2>@ViewBag.Title</h2>
    Alle restaurants die samenwerken met het festival:
</p>
    @foreach (var item in Model)
    {
        using (Html.BeginForm())
        {
        <hr />
            <div class="restaurantLeftBlock">
                <img src="~/Content/Images/@item.RestaurantLogo" width="300" height="100" />
                <br />
                <h3>@item.Id @item.Name</h3>
                @item.DescriptionNL
                <hr />
                <strong>Adres:</strong> @item.Street @item.StreetNumber, @item.ZipCode @item.Town
                <br />
                <strong>Openingstijden:</strong>
                <ul>
                    <li>Lunch: @item.LunchStart - @item.LunchEnd</li>
                    <li>Dinner: @item.DinnerStart - @item.DinnerEnd</li>
                </ul>
            </div>
            <div class="restaurantRightBlock">
                <div class="restaurantMiddleBlock">
                    <h3>Voeg boeking toe aan wishlist</h3>
                    <strong>Datum en tijd:</strong>
                        <br />
                    @Html.Hidden("Id", item.Id)
                    @Html.DropDownList("Datum", new List<SelectListItem>
                    {
                       new SelectListItem { Text = "Maandag 9 januari", Value = "1/9/2017" },
                       new SelectListItem { Text = "Dinsdag 10 januari", Value = "1/10/2017" },
                       new SelectListItem { Text = "Woensdag 11 januari", Value = "1/11/2017" },
                       new SelectListItem { Text = "Donderdag 12 januari", Value = "1/12/2017" },
                       new SelectListItem { Text = "Vrijdag 13 januari", Value = "1/13/2017" }
                    }, "--Selecteer datum--")

                    @Html.DropDownList("Tijd", new List<SelectListItem>
                    {
                       new SelectListItem { Text = "----Lunch----", Disabled = true },
                       new SelectListItem { Text = "12:00", Value = "12:00:00" },
                       new SelectListItem { Text = "12:30", Value = "12:30:00" },
                       new SelectListItem { Text = "13:00", Value = "13:00:00" },
                       new SelectListItem { Text = "13:30", Value = "13:30:00" },
                       new SelectListItem { Text = "14:00", Value = "14:00:00" },
                       new SelectListItem { Text = "14:30", Value = "14:30:00" },
                       new SelectListItem { Text = "----Dinner----", Disabled = true },
                       new SelectListItem { Text = "18:00", Value = "18:00:00" },
                       new SelectListItem { Text = "18:30", Value = "18:30:00" },
                       new SelectListItem { Text = "19:00", Value = "19:00:00" },
                       new SelectListItem { Text = "19:30", Value = "19:30:00" },
                       new SelectListItem { Text = "20:00", Value = "20:00:00" },
                       new SelectListItem { Text = "20:30", Value = "20:30:00" },
                       new SelectListItem { Text = "21:00", Value = "21:00:00" },
                       new SelectListItem { Text = "21:30", Value = "21:30:00" }
                    }, "--Selecteer tijd--")
                        <br />
                    <strong>Aantal personen:</strong>
                        <br />
                    @{ 
                        //Items voor in de 'AantalPersonen-dropdownlist':
                        List<SelectListItem> sli = new List<SelectListItem>();
                        for (int i = 1; i < 11; i++)
                        {
                            sli.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
                        }
                    }

                    @Html.DropDownList("AantalPersonen", sli, "--Selecteer aantal personen--")
                        <br />
                    <input id="btnToevoegWishlist" type="submit" value="Voeg toe aan wishlist" />
                </div>
            </div>
    }
}

