@using IHffA7.Models
@model IEnumerable<RestaurantOverviewModel>

@{
    ViewBag.Title = "Restaurants";
}
<p>
    <h2>@ViewBag.Title</h2>
    Alle restaurants die samenwerken met het festival:
</p>
@using (Html.BeginForm())
{
    foreach (var item in Model)
    {
            <hr />
            <div class="restaurantLeftBlock">
                <img src="~/Content/Images/@item.RestaurantLogo" width="300" height="100" />
                <br />
                <h3>@item.Id @item.Name</h3>
                @item.DescriptionNL
                <hr />
                <strong>Adres:</strong> @item.Street @item.StreetNumber, @item.ZipCode @item.Town
                <br />
                <strong>Openingstijden:</strong>
                <ul>
                    <li>Lunch: @item.LunchStart - @item.LunchEnd</li>
                    <li>Dinner: @item.DinnerStart - @item.DinnerEnd</li>
                </ul>
            </div>
            <div class="restaurantRightBlock">
                <div class="restaurantMiddleBlock">
                    <h3>Voeg boeking toe aan wishlist</h3>
                    <strong>Datum en tijd:</strong>
                        <br />
                    @Html.Hidden("Id", item.Id)
                    @Html.DropDownList("Datum", new List<SelectListItem>
                    {
                       new SelectListItem { Text = "Maandag 9 januari", Value = "1/9/2017" },
                       new SelectListItem { Text = "Dinsdag 10 januari", Value = "1/10/2017" },
                       new SelectListItem { Text = "Woensdag 11 januari", Value = "1/11/2017" },
                       new SelectListItem { Text = "Donderdag 12 januari", Value = "1/12/2017" },
                       new SelectListItem { Text = "Vrijdag 13 januari", Value = "1/13/2017" }
                    }, "--Selecteer datum--" )

                    @Html.DropDownList("Tijd", new List<SelectListItem>
                    {
                       new SelectListItem { Text = "----Lunch----", Disabled = true },
                       new SelectListItem { Text = "12:00", Value = "12:00:00 PM" },
                       new SelectListItem { Text = "12:30", Value = "12:30:00 PM" },
                       new SelectListItem { Text = "13:00", Value = "1:00:00 PM" },
                       new SelectListItem { Text = "13:30", Value = "1:30:00 PM" },
                       new SelectListItem { Text = "14:00", Value = "2:00:00 PM" },
                       new SelectListItem { Text = "14:30", Value = "2:30:00 PM" },
                       new SelectListItem { Text = "----Dinner----", Disabled = true },
                       new SelectListItem { Text = "18:00", Value = "6:00:00 PM" },
                       new SelectListItem { Text = "18:30", Value = "6:30:00 PM" },
                       new SelectListItem { Text = "19:00", Value = "7:00:00 PM" },
                       new SelectListItem { Text = "19:30", Value = "7:30:00 PM" },
                       new SelectListItem { Text = "20:00", Value = "8:00:00 PM" },
                       new SelectListItem { Text = "20:30", Value = "8:30:00 PM" },
                       new SelectListItem { Text = "21:00", Value = "9:00:00 PM" },
                       new SelectListItem { Text = "21:30", Value = "9:30:00 PM" }
                    }, "--Selecteer tijd--")
                        <br />
                    <strong>Aantal personen:</strong>
                        <br />
                    @Html.DropDownList("AantalPersonen", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "1", Value = "1" },
                        new SelectListItem { Text = "2", Value = "2" },
                        new SelectListItem { Text = "3", Value = "3" },
                        new SelectListItem { Text = "4", Value = "4" },
                        new SelectListItem { Text = "5", Value = "5" },
                        new SelectListItem { Text = "6", Value = "6" },
                        new SelectListItem { Text = "7", Value = "7" },
                        new SelectListItem { Text = "8", Value = "8" },
                        new SelectListItem { Text = "9", Value = "9" },
                        new SelectListItem { Text = "10", Value = "10" }
                    }, "--Selecteer aantal personen--")
                        <br />
                    <input id="btnToevoegWishlist" type="submit" value="Voeg toe aan wishlist" />
                    <input id="btnReserveren" type="submit" value="Reserveren" onclick="location.href='@Url.Action("#", "#", new { id = item.Id }, null)'" />
                </div>
            </div>
    }
}

