@using IHffA7.Models
@model IEnumerable<RestaurantOverviewModel>

@{
    ViewBag.Title = "Restaurants";
}
<p>
    <h2>@ViewBag.Title</h2>
    All restaurants associated with the festival:
</p>
@using (Html.BeginForm())
{
    foreach (var item in Model)
    {
        <hr />
        <div class="restaurantFullBlock">
            <div class="restaurantLeftBlock">
                <img src="~/Content/Images/@item.RestaurantLogo" alt="Restaurant Dijkers" />
                <br />
                <h3>@item.Name</h3>
                @item.DescriptionNL
                <hr />
                <strong>Adres:</strong> @item.Street @item.StreetNumber, @item.ZipCode @item.Town
                <br />
                <strong>Openingstijden:</strong>
                <ul>
                    <li>Lunch: @item.LunchStart - @item.LunchEnd</li>
                    <li>Dinner: @item.DinnerStart - @item.DinnerEnd</li>
                </ul>
            </div>
            <div class="restaurantRightBlock">
                <div class="restaurantMiddleBlock">
                    <h3>Voeg boeking toe aan wishlist</h3>
                    <strong>Datum en tijd:</strong>
                    <br />
                    <select id="ddlDatum" name="ddlDatum">
                        <option value="Maandag 5 Juli">Maandag 5 Juli</option>
                        <option value="Dinsdag 6 Juli">Dinsdag 6 Juli</option>
                        <option value="Woensdag 7 Juli">Woensdag 7 Juli</option>
                        <option value="Donderdag 8 Juli">Donderdag 8 Juli</option>
                        <option value="Vrijdag 9 Juli">Vrijdag 9 Juli</option>
                    </select>
                    <select id="ddlTijd" name="ddlTijd">
                        <option disabled>----Lunch----</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option disabled>----Diner----</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="20:00">21:00</option>
                        <option value="20:30">21:30</option>
                    </select>
                    <br />
                    <strong>Aantal personen:</strong>
                    <br />
                    <select id="ddlPersonen" name="ddlPersonen">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <br />
                    <input id="btnToevoegWishlist" type="submit" value="Voeg toe aan wishlist" onclick="location.href='@Url.Action("Index", "Wishlist", new { id = item.Id }, null)'" />
                    <input id="btnReserveren" type="submit" value="Reserveren" onclick="location.href='@Url.Action("#", "#", new { id = item.Id }, null)'" />
                </div>
            </div>
        </div>
    }
}

