@model IHffA7.Models.dbModels.Films
@{
    ViewBag.Title = "Detail";
}

<h2>@ViewBag.Title</h2>

<p>@Model.Title</p>
<p>@Model.DescriptionEN</p>
<p>@Model.Director<br/>
@Model.Year</p>

<h3>Tijden en Kaarten</h3>

<table>
    <tr>
        <th>Tijd en datum</th> 
        <th>Locatie</th>
        <th>Hoeveelheid kaarten</th>
        <th>Prijs per kaart: €7,50</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html.ActionLink("Add to wishlists", "AddFilmToSesWishlist", "WishList", new
       {
           numberOfpersones = 1,
           activityId = 1,
           start = "1 - 1 - 2016 15:30:00",
           end = "1 - 1 - 2016 15:30:00"
       }, null) @Html.ActionLink("Add to wishlists", "AddFilmToSesWishlist", "WishList", new
           {
               numberOfpersones = 2,
               activityId = 2,
           }, null)</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<h4>Combineer Food & Film</h4>



