@using IHffA7.Models
@model LoginModel

<h2>Inloggen</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Geef uw login gegevens:</legend>
            @Html.ValidationMessage("login-error", new { @style = "color: red;" })
        <ol>
            <li style="list-style-type: none;">
                @Html.LabelFor(m => m.Inlognaam)
                @Html.TextBoxFor(m => m.Inlognaam)
                @Html.ValidationMessageFor(m => m.Inlognaam, null, new { @style = "color: red;" })
            </li>
            <li style="list-style-type: none;">
                @Html.LabelFor(w => w.Wachtwoord)
                @Html.PasswordFor(w => w.Wachtwoord)
                @Html.ValidationMessageFor(w => w.Wachtwoord, null, new { @style = "color: red;" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
}