@using IHffA7.Models
@model LoginModel

<h2>Inloggen</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Geef uw login gegevens:</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Inlognaam)
                @Html.TextBoxFor(m => m.Inlognaam)
                @Html.ValidationMessageFor(m => m.Inlognaam)
            </li>
            <li>
                @Html.LabelFor(w => w.Wachtwoord)
                @Html.PasswordFor(w => w.Wachtwoord)
                @Html.ValidationMessageFor(w => w.Wachtwoord)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
}