<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header">
        <img src="~/Content/Images/home/logo_u146.png" width="285" height="55"/>
        <div class="homeUpperButton">@Html.ActionLink("Wishlist", "Index", "WishList")</div>
    </header>
    <nav id="navMenu">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Restaurant", "Restaurants", "Dinner")</li>
            <li>@Html.ActionLink("Film", "Index", "Film")</li>
            <li>@Html.ActionLink("Wishlist", "Index", "WishList")</li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
        <footer>
            <div id="upperfooter">
                <h2 style="margin: 2% 0 0 10%;">Locaties</h2>
                <table>
                    <tr>
                        <th>Philharmonie</th>
                        <th>Toneelstuk</th>
                        <th>Patronaat</th>
                        <th>Path&#233;</th>
                    </tr>
                    <tr>
                        <td>(Specials locatie)</td>
                        <td>(Film locatie)</td>
                        <td>(Specials locatie)</td>
                        <td>(Film locatie)</td>
                    </tr>
                    <tr>
                        <td>Lange Begijnestraat 11</td>
                        <td>Lange Begijnestraat 9</td>
                        <td>Zijlstraat 2</td>
                        <td>Zijlvest 41-43</td>
                    </tr>
                    <tr>
                        <td>2011 HH Haarlem</td>
                        <td>2011 HH Haarlem</td>
                        <td>2013 DN Haarlem</td>
                        <td>2011 VB Haarlem</td>
                    </tr>
                </table>
            </div>
            <div id="footer">
                <img src="~/Content/Images/home/u52.png" />
                <p style="color: white; margin-top: 1.5%;">
                    &copy; @DateTime.Now.Year - My ASP.NET Application
                </p>
            </div>
        </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
