@using IHffA7.Models
@model IEnumerable<FilmsTodayModel>

<img src="~/Content/Images/home/u0.png" />
<h2>Today</h2>
@if (Model == null)
{
    @:Er draaien geen films vandaag! Voor een overzicht van alle films van deze week klik op 'Film' in het hoofdmenu.
}
else
{
    using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            <div class="todayItem">
                @Html.Hidden("ActivityId", item.activityId)
                <h2>@item.title</h2>
                <img src="~/Content/Images/@item.filmLogo" width="216" height="320" />
                    <br />
                @item.beginTime - @item.endTime
                    <br />
                @item.locationName - Zaal: @item.roomName
                    <hr />
                Vrije plaatsen: @item.availableSeats - &#8364 @item.price
                    <br />
                <input id="btnToevoegWishlist" type="submit" value="Voeg toe aan wishlist" />
            </div>
        }
    }
}

