@model IEnumerable<IHffA7.Models.WishlistViewModel>
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.succes != null)
{
    <div class="alert alert-success">
        @ViewBag.succes
    </div>
}

@if (ViewBag.errors != null)
{
    <div class="alert alert-danger">
        @ViewBag.errors
    </div>
}

<h2>WISHLIST</h2>
<table>
    <tr>
        <th>Item</th>
        <th>aantal kaarten</th>
        <th>Prijs per kaart</th>
        <th>Prijs Totaal</th>
    </tr>
    @if (Model != null)
    {
        foreach (var c in Model)
        {
            if (c.Activity.typeActivity == 1)
            {
                <tr>
                    <td>
                        @c.Activity.Filmscreenings.Single().Films.title
                        <br />
                        @c.Activity.startTime
                        <br />
                        @c.Activity.Filmscreenings.Single().Rooms.name
                        <br />
                        @c.Activity.Filmscreenings.Single().Rooms.Locations.name

                    </td>
                    <td>
                        @c.NumberOfPersons
                    </td>
                    <td>
                        @c.Activity.price
                    </td>
                    <td>
                       @c.totalprice
                    </td>
                    <td>
                        @Html.HiddenFor(activivyId =>  c.Activity.id, new { @class = "activityId" })

                        <button class="edit btn btn-primary" data-toggle="modal" data-target="#modalEdit"><span class="glyphicon glyphicon-edit"></span> Wijzig</button>
                        
                        @Html.ActionLink("Verwijder", "RemoveActivityFromSesWishlist", "WishList", new
                            { activityId = c.Activity.id
                            }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                <tr></tr>
            }
            if (c.Activity.typeActivity == 2)
            {
                <tr>
                    <td>
                        @c.Activity.Specialscreenings.Single().Specials.title
                        <br />
                        @c.Activity.startTime
                        <br />
                        @c.Activity.Specialscreenings.Single().Rooms.name
                        <br />
                        @c.Activity.Specialscreenings.Single().Rooms.Locations.name

                    </td>
                    <td>
                        @c.NumberOfPersons
                    </td>
                    <td>
                        @c.Activity.price
                    </td>
                    <td>
                        @c.totalprice
                    </td>
                    <td>
                        @Html.HiddenFor(activivyId => c.Activity.id, new { @class = "activityId" })

                        <button class="edit btn btn-primary" data-toggle="modal" data-target="#modalEdit"><span class="glyphicon glyphicon-edit"></span> Wijzig</button>

                        @Html.ActionLink("Verwijder", "RemoveActivityFromSesWishlist", "WishList", new
                   {
                       activityId = c.Activity.id
                   }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                <tr></tr>
            }
            if (c.Activity.typeActivity == 3)
            {
                <tr>
                    <td>
                        @c.Activity.Restaurants.Single().Locations.name
                        <br />
                        @c.Activity.startTime
                        <br />

                    </td>
                    <td>
                        @c.NumberOfPersons
                    </td>
                    <td>
                        @c.Activity.price
                    </td>
                    <td>
                        @c.totalprice
                    </td>
                    <td>
                        @Html.HiddenFor(activivyId => c.Activity.id, new { @class = "activityId" })

                        <button class="edit btn btn-primary" data-toggle="modal" data-target="#modalEdit"><span class="glyphicon glyphicon-edit"></span> Wijzig</button>

                        @Html.ActionLink("Verwijder", "RemoveActivityFromSesWishlist", "WishList", new
                   {
                       activityId = c.Activity.id
                   }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                <tr></tr>
            }
        }
    }
    
        <tr>
            }
            <td>------------------------------------</td>
        </tr>
       
    </table>

    @Html.ActionLink("Add acty 10 to list to wishlists", "AddItemToSesWishlist", "WishList", new
{
    numberOfpersones = 2,
    activityId = 10,
}, new { @class = "btn btn-default" })
@Html.ActionLink("Add acty 12 to list to wishlists", "AddItemToSesWishlist", "WishList", new
{
    numberOfpersones = 1,
    activityId = 12,
}, new { @class = "btn btn-default" })
    <br /><br />
@Html.ActionLink("SaveWishlist", "SaveWishlist", "WishList", new
{
    numberOfpersones = 1,
    activityId = 1,
}, new { @class = "btn btn-default" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Enter activity code", htmlAttributes: new { @class = "control-label col-md-2", @required = "true" })
            <div class="col-md-10">
                @Html.TextBox("wislistToken", null, htmlAttributes: new { @class = "form-control col-md-2" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="GetWishlist" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Betalen", "PayWishlist", "WishList",null, new { @class = "btn btn-primary" })


        <div class="modal fade" id="modalEdit" role="dialog"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("button.edit").on("click", function (e) {
                e.preventDefault();
                var activityId = $(this).parent().find('.activityId').val();
                $.get('/WishList/EditActivityFromSesWishlist', { activityId: activityId }, function (data, status) {
                    $("#modalEdit").html(data);
                })
            });
        });
    </script>





